@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";



.font-primary {
  font-family: "Playfair Display", serif;
}

.font-secondary {
  font-family: "DM Sans", sans-serif;
}



.text-terracotta {
  color: #a23917;
}
.bg-terracotta {
  background-color: #a23917;
}

.text-cream {
  color: #fff8f6;
}
.bg-cream {
  background-color: #fff8f6;
}

.text-charcoal {
  color: #241916;
}
.bg-charcoal {
  background-color: #241916;
}

.text-dusty-rose {
  color: #f4ded8;
}
.bg-dusty-rose {
  background-color: #f4ded8;
}

